extends layout

block content
  .row.banner
    .col-12
      h1 About Hired.ly
  .row
    .col-12.col-lg-8
      p
        | Hired.ly was created to revolutionize the job search experience, making it easier for professionals to find their dream jobs and for employers to connect with top talent.
        | <br /><br />
        | At Hired.ly, we focus on providing a seamless and efficient platform where job seekers can explore opportunities across various industries. Our goal is to make the job search process as smooth and straightforward as possible.
        | <br /><br />
        | We believe in the power of meaningful work and are dedicated to helping you find a job that matches your skills, values, and aspirations. Join us on this journey to a brighter career future.
