extends layout

block content
  .row.banner
    .col-12
      h1 Amazon Generative AI Entry Position 

  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p Plot No. 13, 14, 15, HiTech City, Hyderabad.

          .card.card-primary
            .card-block
              h2.card-title Opening hours(Offline)
              p.card-text Monday - Friday : 7:00am - 7:00pm
              p.card-text Saturday : 8:00am - 5:00pm
              p.card-text Sunday : closed

          .card.card-primary
            .card-block
              h2.card-title Skills
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Python
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Machine Learning
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Generative AI
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Langchain
        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Location map
              img.img-fluid.rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2&key=<API Key>')

    .row
      .col-12
        .card.card-primary.review-card
          .card-block
            a.btn.btn-primary.float-right(href='/location/review/new') ➥ Add review
            h2.card-title Customer reviews
            .row.review
                .col-12.col-md-6.review-header
                    span.rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.far.fa-star
                    span.reviewAuthor Emily Clark
                    small.reviewTimestamp 18 November 2021
                .col-12
                    p Great resource for job seekers. The application process was smooth and intuitive.

            .row.review
                .col-12.col-md-6.review-header
                    span.rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.far.fa-star
                    i.far.fa-star
                    span.reviewAuthor Mark Wilson
                    small.reviewTimestamp 8 August 2018
                .col-12
                    p Good interface but needs more job listings in my field.

    //- .col-12.col-lg-3
    //-   p.lead
    //-     | Hired.ly is on Job portal because it has accessible wifi and space to sit down with your laptop and Search Jobs.
    //-   p
    //-     | If you've been and you like it - or if you don't - please leave a review to help other people just like you.