extends layout

block content
  .row.banner
    .col-12
      h1 Hired.ly
      small &nbsp;Find Jobs to work

  // Listing 4.6 Complete template for app_server/views/locations-list.pug
  // Name of the listing and a link to the location
  // Uses Font Awesome icons to output a star rating
  // Uses Bootstrap’s badge helper class to display the distance away
  // Address of the location
  // Facilities of the location, output using Bootstrap’s badge classes
  // Figure 4.9 Onscreen rendering of a single location on the List page

  // Starts header area
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/jobs/Google_SDE") Google SDE 3
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 120
          p.address Skills : Python  Flutter  Machine Learning
          p.facilities
            span.badge.badge-warning SDE
            span.badge.badge-warning Python
            span.badge.badge-warning ML
    
    .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/jobs/Microsoft_DL_Intern") Microsoft Deep Learning Intern
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            span.badge.badge-pill.badge-default.float-right 240
          p.address Skills : Python  Machine Learning  Deep Learning 
          p.facilities
            span.badge.badge-warning Python
            span.badge.badge-warning ML
            span.badge.badge-warning DL
    
    .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/jobs/Amazon_GenAI") Amazon Generative AI Entry Position
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 60
          p.address Skills : Python  Machine Learning  Generative-AI Langchain
          p.facilities
            span.badge.badge-warning GenAI
            span.badge.badge-warning ML
            span.badge.badge-warning DL


    .col-12.col-md-4
      p.lead Looking for a Job? Hired.ly helps you find Jobs to work when out and about. Let Hired.ly help you find the Job you're looking for.